{% extends "base.html" %}

{% block head_title %}Meadow{% endblock %}

{% block html_head_extra -%}
  <meta property="og:title" content="Meadow" />
  <meta name="twitter:title" content="Meadow" />

  <meta name="description" content="Social media as it should be. Find your community among millions of users, unleash your creativity, and have some fun again." />
  <meta name="og:description" content="Social media as it should be. Find your community among millions of users, unleash your creativity, and have some fun again." />
  <meta name="twitter:description" content="Social media as it should be. Find your community among millions of users, unleash your creativity, and have some fun again." />

  <meta name="twitter:card" content="summary_large_image" />
{%- endblock %}

{% block noscript_extra %}
<p>This is the home page.
{% endblock %}
